# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm/
.npm-global/

# Dependency directories
node_modules/

# Environment variables

# Build artifacts
dist/
build/
temp_auto_push.bat
temp_interactive_push.bat
config.bat
